/* cart.css */


#cart {

  width: 90%;
  margin: 0 auto 10%  auto;
}


.cart__title {
  position: relative;
  text-align: center;
}

.cart__select{
  /* width: 90%; */
  margin: 5px auto;
  position: relative;
  height: 28px;
}

.cart__select button{
  position: absolute;
  right: 0;
}

.cart__select label{
  font-size: 1.4rem;
  line-height: 3.1;
  font-weight: bold;
}


#cart table {
     position: relative;
    width: 100%;
    margin: 10px auto 50px;
    font-size: 14px;
    border-top: 2px solid rgb(103 103 103);
    border-bottom: 1px solid rgb(209 209 209);
    border-collapse: collapse;
}

.cart__title h1 {

  padding-top: 5vh;
  padding-bottom: 1vh;
  font-size: 2.8rem;
}

.cart__title span {
font-size: 1.2rem;
color: #b9b9b9;
}

#cart th {
  padding: 15px 0px;
 font-size: 16px;
}


#cart td {
  padding: 10px 0px;

  text-align: center;

}



#cart td.cart_list_total{
  text-align: right;
}

#cart td img {
  width: 50px;
}

#cart tr{
  border-bottom: 1px solid rgb(209 209 209);
}


.cart__table{
  margin: 0 auto;
  /* width: 900px; */
  max-height: 700px;
  overflow-y: auto;

}


#cart table button{
  position: absolute;
  right: 0;
  top: 92px;

}

#cart table button.cfn{
  position: relative;
  top: 0;
  width: 20px;
  height: 20px;
  padding: 0;

}

#cart table button.cfn:hover{
  background-color: #898989;
  color: #fff;
  border: none;
  cursor: pointer;
}


#cart button{
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 5px 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.cart__bottom__button{
text-align: center;

}

.cart__bottom__button button{
margin: 0 1vw;

}

#cart .cart__bottom__button button:nth-child(1){
  background-color: #222;
  color: #fff;
}

.go_item{
  cursor: pointer;
}

.go_item:hover{
 font-weight: bold;
}

