
:root {
  --swiper-theme-color: #cfcfcf;
}



.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



body *{
  /* border: 1px dotted orange */
}


body{
   padding-top: 90px; 
}

.inbox {
  max-width: 1200px;
  margin: 0 auto;
}


#top-area{
  height: 90px;
  width: 100%;
  box-shadow: 0 3px 7px 1px rgba(0,0,0,0.05);;
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

}


.header{
  width: 100%;
}


.header-box{
  display: flex;
  justify-content: space-between
}

.logo{
  font-size: 30px;

}



.gnb {
  display: flex;
  flex: 2;
  font-size: 1.6rem;
}

.gnb ul{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 2;

}


.gnb li{

  margin-left: 3vw;
}





.logo{
  height: 50px;

}

.login-box{
  display: flex;
  align-items: center;
  gap: 25px;
}

.login-box{
font-size: 1.8rem;
color: #272a2d;
}

.searchingGnb{
position: relative;
}
.searchingGnb input{

  border-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  width: 159px;
  height: 28px;
  padding: 10px;
  box-sizing: border-box;
}

.schbtnBtb{
  position: absolute;
  right: 7px;
  top: 6px;
cursor: pointer;
}

.cart{


}

.login{

}


.banner{
height: 50vh;
/* background-color: orange; */
}




.shop{
/* height: 150vh; */
}

.shop__item__top{
  text-align: center;
  padding-top: 4vh;
}

.shop__item__title{
  font-size: 2.8rem;
  height: 80px;
}
.shop__item__category{


}

.item__category{
  padding: 5px 12px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  color: #111;
  font-size: 1.5rem;

  min-width: 50px;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  margin-right: 10px;


  transform: translateY(-50%);
  top: 50%;
  position: relative;
  cursor: pointer;

}

.item__category.on{
  background-color: black;
  color: white;
 }

.shop__item__order{
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-between;
}


.shop__item__count{
  font-weight: bold;
  color: #111;
}

.shop__item__count span:nth-child(1){
  font-size: 1.8rem;

}
.shop__item__count span:nth-child(2){
  font-size: 1.3rem;

}


.shop__item__listup{
  font-size: 1.3rem;
}
.shop__item__listup span{
  margin-left: 7px;
}







#footer{
  background-color: #222;
  width: 100%;
  color: #eee;
}

.footer{

}


.footer__cont_box{
  float: left;
  width: 300px;
  padding: 4vh 1vw;
}

.footer__cont{
  display: flex;
  flex-direction: column;
}

.footer h2{
  font-size: 1.6rem;
}

.footer h1{
  font-size: 3rem;
}

.footer span{
  font-size: 1.2rem;
  display: inline-block;
  line-height: 2;
  color: #888;
}

.footer__info{
  clear: both;
  margin-left: 1vw;
}

.footer__info ul{
  display: flex;
}

.footer__info li{
  font-size: 1.3rem;
  margin-right: 26px;
  cursor: pointer;
}

.footer__info__cont{
  font-size: 1.2rem;
  color: #888;
  padding: 3vh 0;
  line-height: 1.4;
}
.footer__info__cont span{
  padding: 0px 10px;
}

.footer__info__cont p{
  font-size: 1.1rem;
  padding: 6vh 0 0 0;
}