/* 광고 adcont.css */





#cont{
  height: auto;
  background-color: var(--point-color);
  /* overflow: hidden; */
}


/* tpg */
.cont{

  height: calc(100vh + 2000px);
     /* 타겟 박스는 보이는 화면 맨윗줄부터
     시작해서 아래로 마지막 박스 끝라인까지
    총 이동거리는 3000px이다!!! */
}



/* slidePg */
.cont__box{
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}




/* 실제로 가로이동할 박스 */
/* JS > target */
.cont__content{


  position: relative;
  left: 0;
  display: flex;
  width: calc(100vw + 2000px);
  /* 가로크기는 타겟박스가 이동하는크기인
  3000px에 맞도록 100vw에 더하여 잡아준다!
  이유는 JS의 getBoundingClientRect().top
  값의 수치와 정확히 일치 시키기 위함! */
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.4s ease-out;

  
  justify-content: center;
  align-items: center;


}

.cont__title{
  border: 1px dotted red ;
  /* flex-shrink: 0; */
  position: relative;
  width: 100%;

  left: 0;
  right: 0;
  margin: 0 auto;

  color: var(--dark-color);
  font-size: 3rem;
  text-align: center;
}
.cont__title span{
  font-family: 'GowunBatang-Regular';
}

.cont__btn{

  /* text-align: center; */
margin: 3vh 0;

}
.cont__btn button{
  cursor: pointer;
  width: 110px;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid var(--bright-color);
  font-size: 1.5rem;
  font-weight: bold;

  color: var(--color3);
}

.cont__btn:hover button{

  outline: 2px solid var(--bright-color);
  font-size: 1.6rem;
}



/* ____________________ 추가 모듈 _______________________ */


#cont__content-ad{

  display: none;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 10vw;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: 99999;

}

.cbtn{
  cursor: pointer;
}

.ad_box{
position: absolute;
width: 200px;
height: 600px;
border: 1px dotted red;
}