/* 광고 adcont.css */





#cont{
  height: auto;
  background-color: var(--point-color);
  /* overflow: hidden; */
}


/* tpg */
.cont{

  height: calc(100vh + 2600px);
     /* 타겟 박스는 보이는 화면 맨윗줄부터
     시작해서 아래로 마지막 박스 끝라인까지
    총 이동거리는 3000px이다!!! */
}



/* slidePg */
.cont__box{
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}




/* 실제로 가로이동할 박스 */
/* JS > target */
.cont__content{


  position: relative;
  left: 0;
  display: flex;
  width: calc(100% + 2600px);
  /* 가로크기는 타겟박스가 이동하는크기인
  3000px에 맞도록 100vw에 더하여 잡아준다!
  이유는 JS의 getBoundingClientRect().top
  값의 수치와 정확히 일치 시키기 위함! */
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.4s ease-out;

  
  justify-content: center;
  align-items: center;


}

.cont__title{
  /* flex-shrink: 0; */
  position: relative;
  /* width: 100%; */

  left: 0;
  right: 0;
  margin: 0 auto;

  color: var(--dark-color);
  font-size: 3rem;
  text-align: center;
}
.cont__title span{
  font-family: 'GowunBatang-Regular';
}




/* ____________________ 모바일버전 _______________________ */

#m-cont{
  display: none;
  height: 100vh;
  background-color: var(--point-color);
}
.m-cont__box{
  top: 0;

  height: 100vh; 
  position: relative;
}

.m-cont__content{
  top: 50%;
  position: relative;

  transform: translateY(-50%);
}

.m-cont__title{
  position: relative;


  left: 0;
  right: 0;
  margin: 0 auto;

  text-align: center;

}

.m-cont__title span{
  font-family: 'GowunBatang-Regular';
  opacity: 0;
  color: var(--dark-color);
  font-size: 2.3rem;

  display: inline-block;
}

.m-cont__title.on span{
transition: 1s;
  opacity: 1;
  line-height: 3;
}