/* 애니메이션 ani.css */


/* 360도 회전 애니 */
@keyframes rotate-ani{

  0%{
    rotate: 0deg ;
   
    }
 100%{
    rotate: 360deg ;
   
    }

}






/* 마키 애니 */
@keyframes marquee-ani {
  0% { left: -100%; }
  100% { left: 0%; }
}


/* 등장애니 */
@keyframes show-ani {
  0% { opacity: 0; }
  100% { opacity: 1;  }
}

