/* 시간표 timetable.css */


table {
  width: 100%;
  border: 1px solid #444444;
  
  border-collapse: collapse;

}


.Elementary{
  padding-bottom: 3%;
}

#time_table{
 
}

.time_table{

 
  background: url(../../public/images/back_letter.png) no-repeat fixed center;
  background-size : 60%;
  background-color: #f1f1f1;
}


.time_table_content{
  width: 100%;
  height: 90%;

  text-align: center;
  margin-bottom: 3%;

  border-top: none; 
  border-bottom: none; 
  border-left: none;
  border-right: none;
  
}

.time_table__text {
  width: 63%;
  height: 50%;
  position: absolute;
  text-align: center;
  line-height: 44;
  font-size: 1.4rem;
}


.time__table__radio{
  position: relative;
  text-align: right;
  margin: 2% 0;
}

label{
  font-size: 1.4rem;
}


label:hover{
  font-size: 1.4rem;
  font-weight: bold;
}

.time_table__box{
  position: relative;
  width: 40%;
  height: 75%;
  box-sizing: border-box;


  margin-right: var(--margin-right);
  position: absolute;
  right: 0;

  font-size: 1.4rem;
}


.time_table_content .empty{
  height: 2%;
}



.time_table_content .class-name{
  border-radius: 20px 20px 0 0;
  width: 30%;
  background-color: var(--color2);
  color: var(--bright-color);

  font-family: 'GowunBatang-Regular';
  font-weight: bold;
}



td.class-part:hover {
  color: var(--point-color);
}
td.day:hover p{
  color: var(--point-color2);
}
td.time:hover p{
  color: var(--point-color2);
}


.time_table_content .class-part{
  background-color: var(--color3);
  color: var(--bright-color);
  border: 1px dotted var(--dark-color);
  position: relative;
  width: 33%;

  border-left: none;
  border-right: none;
  font-family: 'GowunBatang-Regular';
  /* font-weight: bold; */
}

/* .class-part::after{
  content: '';
  height: 100%;
  width: 115px;
  background-color: var(--color2);
  position: absolute;
  left: -33px;
  top: 0;
  z-index: -1;

} */

.time_table_content .day{
  background-color: var(--bright-color);
  border: 1px solid var(--bright-color);
  /* border-radius: 20px; */
  width: 20%;
  font-weight: bold;
  background-color: #cdc9c3;
  color: var(--dark-color);
  

}

.time_table_content .time{
  background-color: var(--bright-color);
  border: 1px dashed var(--color4);
  border-left: none;
  width: 30%;
  color: var(--dark-color);
}



.time_table_content .day.up{
  /* border-radius:20px 20px 0 0; */
  border-bottom: none;

}
.time_table_content .day.down{
  border-top: none;
  /* border-radius: 0 0 20px 20px; */
}


.time_table_content .time.up{
  /* border-radius:0 20px 0 0; */
  border-bottom: none;
}
.time_table_content .time.down{
  /* border-radius:0 0 20px 0; */
  border-top: none;
}


.time__table__radio label{
  
}