@charset "utf-8";



/* --------------- 그리드 ----------------- */

/* 12그리드 참조  : 한줄에 합이 12컬럼이 되도록 셋팅*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 



/* 숨길 박스 */
   .col1-none{display: none;}

/* 보일 박스 */
   .col1-block{display: block;}




   @media screen and (max-width:500px){
   
   section, #intro{
    padding-left: 2%;
    padding-right: 2%;
   }
      
   .tit{
      padding-left: 2%;
      padding-right: 2%;
      text-align: center;
      display: none;
   }
   



   .facility .tit{
      padding-left: 2%;
      padding-right: 2%;
      text-align: center;
   }
   
   .header{
      display: none;
   }

   .m-header{
      display: block;
   }
   

   .top-area{
      left: 0;
      height: 93px;
   }


   .top-area .trans_btn_box {
     bottom: -32px;
     left: 0;
     right: 0;
     margin: 0 auto;
    }

    .top-area .logo{
      left: 0;
      right: 0;
      margin: 0 auto;
    }


    .intro__logo{
      top: 20%;
    }


    .intro__item h3{
      font-size: 10.6vw;
      line-height: 13vw;
    }





 .about__box{
   flex-direction: column;
 }

 .about__box.part2{
   flex-direction: column-reverse;
 }


.round{
   top: 50%;
   transform: translateY(-50%);
}

.about__history span::after{
   left:12.6%
}
.about__history.part2 span::after {
   right: 5.3%;
}
 
.photo{
   padding-top: 30vh;
}



}/*************** 500px 이하 ***************/