@charset "utf-8";

/* 버거킹 : 공통 CSS - common.css */



body *{
  outline: 1px dashed #999;
}


a {
font-family: 'Black Han Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;

}

h1,h2,h3,h4,h5,h5{
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;

}



body{
  height: 3000px;
}